.contacts
  color white
  background url("/../img/footer/bg-footer.png")
.contacts-content
  padding-bottom 80px
.contacts h2
  margin 60px 0
  text-transform uppercase
.contacts .social
  display inline-block
.contacts-address
.contacts-logo
  color white
  padding 0
.contacts-logo
  text-align left
.contacts-address
  text-align right
.contacts-logo .logo
  padding 60px 0 47px 0
.contacts-social
  text-align center
.social
  padding 20px
