$base-color = rgb(255, 130, 7)
$content-width = 1398px
$text-width = 820px
$text-color = rgb(40, 54, 61)
.feedback
  padding-bottom 100px
.feedback-content__info
  width 940px
  margin 0 auto
.feedback-address
  text-align left
  display inline-block
  width 42.5%
  vertical-align top
.feedback-address h2
  color $base-color
.feedback-address p
  text-transform none
  color #8198a1
.feedback-contactForm
  display inline-block
  width 57%
  text-align left
label
input
  display block
label
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
input
  border none
  outline none
  border-bottom 1px solid #c0c0c0
  width 100%
input[placeholder]
textarea[placeholder]
  font-style italic
  color #c0c0c0
textarea
  border: none
  outline none
  border-bottom 1px solid #c0c0c0
  width: 100%
  height 100px
  resize: none;
.file
  text-align left
.input-button
  display inline-block
  width 50px
  height 60px
  padding 10px
  text-align center
.input-button~h2
  padding 0 20px
  display inline-block
.kapcha
  padding 20px 0 0 0
  &:after
    content ''
    display table
    clear both
.submit-button
  float right
  display inline-block
  font-size 18px
  width 221px
  text-align center