footer
  background #1e292f
  color white
  margin 0
  padding 25px
  text-align center
.up-button
  height 60px
  width  60px
  position fixed
  right 200px
  bottom 450px
  background-image url("/../img/arrow.png")
  cursor pointer
  z-index 10
#fp-nav ul li
  margin 20px
#fp-nav ul li a span
  width 20px
  height 20px
  margin 0
  background-color: #a5abae;
#fp-nav ul li
  &:hover a span
    width 20px
    height 20px
#fp-nav ul li a.active span
  width 20px
  height 20px
  margin 0
  background-color $base-color
#fp-nav ul li
  &:hover a.active span
    width 20px
    height 20px
    margin 0