$base-color = rgb(255, 130, 7)
$content-width = 1398px
$text-width = 820px
$text-color = rgb(40, 54, 61)
header
  background-color rgb(40, 54, 61)
.mobile-nav
.mobileNav
  display none
.mobileNav
  list-style-type none
  margin 0
  border-radius 10px
  padding 0
  position: absolute
  top: 5px
  right: 0
  background #fff
  text-align center
  box-shadow 2px 4px 3px rgba(0,0,0,0.6)
  z-index 100
.mobileNav li a
  text-decoration none
  color #000
  text-transform uppercase
.mobileNav li
  padding 25px
  overflow hidden
.mobileNav li
  &:first-child
    border-top-left-radius 10px
    border-top-right-radius 10px
.mobileNav li
  &:last-child
    border-bottom-left-radius 10px
    border-bottom-right-radius 10px
.mobileNav li
  &:hover
    background #ededed
    border-top 1px solid black
.header
.contacts-content
  width $content-width
  margin 0 auto
  letter-spacing 1px
  text-align center
  &:after
    content ''
    display table
    clear both
.header-phones
.header-nav
.header-logo
.contacts-logo
.contacts-address
.contacts-social
  display inline-block
  float left
.header-nav
.contacts-social
  width 68%
.header-nav a
  text-decoration none
  color white
  cursor pointer
  padding 60px 0 60px 0
.header-logo
.contacts-logo
  width 16%
  padding 40px 0 42px 0
.header-phones
.contacts-address
  width 16%
  color $base-color
  text-align left
  padding 30px 0 20px 0
.header-phones a
  text-decoration none
  color $base-color
.header-nav ul
  width auto
  padding 0
  margin 0
.header-nav ul li
  display inline-block
  padding 53px 0 53px 0
  font-size 14px
  margin-right 20px
  width 140px
  &:hover
    background-color rgb(30, 41, 47)
    border-bottom 4px solid $base-color
  &:last-child
    margin 0