$base-color = rgb(255, 130, 7)
$content-width = 1398px
$text-width = 820px
$text-color = rgb(40, 54, 61)
*
  box-sizing border-box
  user-select none
  font-family "Myriad Pro"
html
  width max-content
  margin 0 auto
body
  max-width 1920px
  width 100%
  margin 0 auto
  position relative
  padding 0
#fullpage
  position relative
@import "header"
@import "general"
@import "ourWork"
@import "advanteges"
@import "feedBack"
@import "contacts"
@import "footer"
@import "modal"
@import "media"






