@media screen and (max-width:  1024px)
  body
    width 100%
    max-width: 1024px
  header
  .header
  .ourWork-content__works
  .advantages-content__works
  .contacts-content
    width 100%
    max-width: 1024px
  .header-phones
  .header-nav
    display none
  .mobile-nav
    display inline-block
    position absolute
    top 40px
    right 50px
  .navPanelToggle
    text-decoration none
    height 4em
    width 4em
    z-index 99
  .navPanelToggle .fa
    font-size: 2.2em
    color white
  .mobile-nav
    &:hover .mobileNav
      display block
  .header-logo
    padding-left 25px
  .general-content h1
  .ourWork-content h1
  .advantages-content h1
  .feedback-content h1
    margin-bottom initial
    font-size 32px
  .general-content p
    font-size 18px
    width 70%
  .general-button
    width 320px
    font-size 24px
  .owl-prev
    left 60px
  .owl-next
    right -964px
  .owl-next img
  .owl-prev img
    width 40px
  .portfolio-blok
  .advantages-blok
    width 49%
  .portfolio-blok__hover
    width 96%
  .up-button
    right 40px
  .contacts-address
    text-align left
  .contacts-logo
    text-align right
@media screen and (max-width:  768px)
  body
  header
  .header
  .ourWork-content__works
  .advantages-content__works
  .contacts-content
  .feedback-content__info
    width 100%
    max-width: 768px
  .general-content h1
  .ourWork-content h1
  .advantages-content h1
  .feedback-content h1
    margin-bottom initial
    font-size 24px
  .genreal-underline
    width 80%
    margin 0 auto
  .general-content p
    font-size 12px
    width 70%
  .owl-dot span
    width 10px !important
    height 10px !important
  .general-button
    width 160px
    font-size 12px
    padding 12px 0
    bottom 22%
  .to-next-block img
    width 30px
  .owl-prev
    left 30px
  .owl-next
    right -738px
  .owl-next img
  .owl-prev img
    width 24px
  .portfolio-blok
  .advantages-blok
  .feedback-contactForm
  .feedback-address
    width 99%
  .feedback-address
    text-align center
  .ourWork-content__text>p
  .advantages-content__text>p
  .feedback-content__text>p
    width 80%
    margin 0 auto
  .up-button
    right 40px
  .contacts-address
    text-align left
  .contacts-logo
    text-align right
@media screen and (max-width:  568px)
  body
  header
  .header
  .ourWork-content__works
  .advantages-content__works
  .contacts-content
  .feedback-content__info
    width 100%
    max-width: 568px
  .general-content
    padding-top 10px
  .general-underline__line
    width: 46%
  .general-content p
    font-size 12px
    width 70%
    line-height 20px
  .general-button
    width 160px
    font-size 12px
    padding 12px 0
    bottom 25%
  .to-next-block img
    width 30px
  .owl-prev
    left 30px
  .owl-next
    right -538px
  .modal-window
    width 551px