.modal-window
  display none
  border-radius 12px
  box-shadow 2px 2px 3px #1d1d1d
  padding 20px
  background #fff
  width 750px
  height 350px
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  z-index 99
.modal-window input
  margin: 5px;
  font-size: 2em;
  color: black;
input.modal__argee__button
.modal__cancel__button
  cursor pointer
  width 170px
  height 45px
  display inline-block
  border 2px solid #000
  border-radius 7px
  margin 20px 13px
  padding 8px
  font-size 22px
  vertical-align middle
  text-align center

.modal__argee__button
  &:hover
    background rgba(0,0,0,0.5)
    content #000
.modal__cancel__button
  &:hover
    background rgba(0,0,0,0.5)
    content #000